.titulo-etiquetas {
    color: black;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-weight: bolder;

    .incompletas {
        color: rgb(28, 28, 153);

    }

    .completadas {
        color: rgb(49, 153, 28);
    }
}