.tareas-lista-contenedor {
	width: 100%;
	max-height: 70vh;
	padding: 10px 0;
	overflow-y: scroll;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.tareas-lista-contenedor::-webkit-scrollbar {
	-webkit-appearance: none;
}

.tareas-lista-contenedor::-webkit-scrollbar:vertical {
	width: 2px;
}

.tareas-lista-contenedor::-webkit-scrollbar-button:increment,
.tareas-lista-contenedor::-webkit-scrollbar-button {
	display: none;
}

.tareas-lista-contenedor::-webkit-scrollbar:horizontal {
	height: 10px;
}

.tareas-lista-contenedor::-webkit-scrollbar-thumb {
	background-color: #3d3d3d;
	border-radius: 20px;
	/* border: 2px solid #3c3c3c; */
}

.tareas-lista-contenedor::-webkit-scrollbar-track {
	border-radius: 10px;
}


.tarea-lista-requerido-rbdng {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: start;
}