.tareas-lista-contenedor {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	margin-top: 15px;
	padding: 10px 0;
	overflow-y: scroll;
}
