.Nav {
    /* background-color: #090b22; */
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
}

.switch-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 31px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5ec145;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 3px;
    bottom: 2.3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #ccc;
}

input:focus+.slider {
    box-shadow: 0 0 1px #5ec145;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    -moz-transform: translateX(26px);
    -o-transform: translateX(26px);
}

.separador {
    width: 30px;
}

.etiqueta {
    width: 100px;
    min-width: 100px;
    align-items: start;
}