.tarea-contenedor {
	width: 90%;
	max-width: 500px;
	/* min-height: 50px; */
	background-color: rgb(35, 35, 85);
	margin: 5px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	border-radius: 8px;
	box-shadow: 3px 3px 1px #242424;
	font-weight: 900;
	text-transform: capitalize;
	user-select: none;
	transition: all 0.3s linear;
}

.completar-tarea-onclick {
	width: 30px;
	height: 100%;
	background-color: rgb(47, 182, 255);
	color: #3f3f3f;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px 0px 0px 5px;
}

.completar-tarea-onclick-completada {
	width: 30px;
	height: 100%;
	background-color: rgb(129, 129, 129);
	color: #3f3f3f;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px 0px 0px 5px;
	/* min-width: 20px; */
}

.tarea-texto {
	width: 90%;
	height: 100%;
	font-size: 20px;
	display: flex;
	align-items: center;
	overflow-wrap: anywhere;
	text-shadow: 0.5px 0.5px #171717;
	padding: 8px 15px 8px 20px;
	display: flex;
	flex-shrink: 1;
	background-color: transparent;
	/* border: none; */
	/* border: 1px solid red; */
}

.tarea-icono {
	width: 25px;
	height: 25px;
	margin: 5px;
}

.tarea-contenedor:nth-child(3n + 1) {
	background-color: rgb(46, 46, 108);
}

.tarea-contenedor:nth-child(3n + 2) {
	background-color: rgb(61, 61, 142);
}

.tarea-contenedor.completada {
	background-color: #3f3f3f;
	text-decoration: line-through;
	font-weight: 300;
	color: #6b6b6b;
	width: 86%;
	max-width: 480px;
	min-height: 60px;

	.tarea-icono {
		color: #5c5c5c;
	}

	.tarea-texto {
		font-size: 15px;
		align-items: center;
		overflow-wrap: anywhere;
		text-shadow: 0.5px 0.5px #171717;
		padding: 6px 10px 6px 10px;
		min-width: 29px;
	}
}

@media (min-width: 680px) {
	.tarea-contenedor {
		width: 90%;
		min-height: 60px;
	}

	.tarea-contenedor.completada {
		width: 86%;
	}
}

@media (max-width: 680px) {
	.tarea-texto {
		font-size: 15px;
		align-items: center;
		overflow-wrap: anywhere;
		text-shadow: 0.5px 0.5px #171717;
		padding: 6px 10px 6px 10px;
		min-width: 29px;
	}
}