.tarea-contenedor {
	width: 90%;
	min-width: 28px;
	max-width: 500px;
	min-height: 65px;
	background-color: rgb(35, 35, 85);
	margin: 5px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	box-shadow: 3px 3px 1px #242424;
	font-weight: 900;
	text-transform: capitalize;
	user-select: none;
	transition: all 0.4s linear;
}

.tarea-texto {
	width: 90%;
	height: 100%;
	font-size: 20px;
	display: flex;
	align-items: center;
	overflow-wrap: anywhere;
	text-shadow: 0.5px 0.5px #171717;
	padding: 8px 15px 8px 20px;
}

.tarea-icono {
	width: 25px;
	height: 25px;
	margin: 5px;
}

.tarea-contenedor:nth-child(3n + 1) {
	background-color: rgb(46, 46, 108);
}

.tarea-contenedor:nth-child(3n + 2) {
	background-color: rgb(61, 61, 142);
}

.tarea-contenedor.completada {
	/* transition: all 1.1s linear; */
	background-color: #3f3f3f;
	text-decoration: line-through;
	font-weight: 300;
	color: #6b6b6b;
	width: 85%;
	max-width: 450px;
	min-height: 60px;
	.tarea-icono {
		color: #5c5c5c;
	}
}
