* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.light-mode {
	color: var(--font-color-light);
	background-color: var(--bg-color-light);

	.tarea-input {
		background-color: var(--bg-color-light);
		color: var(--font-color-light);

	}

	.tarea-input:focus+label::before {
		background: whitesmoke;
	}

	.tarea-input:focus {
		box-shadow: 0 0 0 1px rgb(0, 0, 0);
	}

	.tarea-boton {
		background: var(--bg-color-dark);
		color: var(--font-color-dark);
	}

	.completar-tarea-onclick {
		border-right: 1px solid rgb(84, 84, 84);
	}

	.tarea-icono-grande:hover {
		color: rgb(220, 71, 71);
	}

	.tarea-icono-chico:hover {
		color: rgb(71, 156, 220);
	}

	.tarea-contenedor {
		background-color: rgb(255, 255, 255);
		border: 1px solid rgb(43, 43, 43);

		.tarea-texto>div {
			color: rgb(255, 123, 0);
		}

		.vibrate:hover {
			animation: vibration .8s infinite;
		}
	}

	.tarea-contenedor.completada {
		background-color: transparent;
		border: 1px dashed rgb(148, 148, 148);
		color: rgb(94, 94, 94);

		.tarea-texto>div {
			color: rgb(94, 94, 94);
		}

		.tarea-icono-grande:hover {
			color: rgb(88, 54, 54);
		}

		.tarea-icono-chico:hover {
			color: rgb(44, 61, 74);
		}

		.vibrate:hover {
			animation: none
		}
	}

}

.dark-mode {
	color: var(--font-color-dark);
	background-color: var(--bg-color-dark);

	.tarea-input {
		background-color: var(--bg-color-dark);
		color: var(--font-color-dark);
	}

	.tarea-input:focus+label::before {
		background: rgb(0, 0, 0);
	}

	.totales {
		color: whitesmoke;
	}

	.tarea-input:focus {
		box-shadow: 0 0 0 1px #ffffff;
	}

	.tarea-boton {
		background: #ffffff;
		color: var(--bg-color-dark);
	}

	.completar-tarea-onclick {
		border-right: 1px solid rgb(43, 43, 43);
	}

	.tarea-icono-grande:hover {
		color: rgb(220, 71, 71);
	}

	.tarea-icono-chico:hover {
		color: rgb(71, 156, 220);
	}


	.tarea-contenedor {
		background-color: rgb(26, 26, 26);
		border: 1px solid rgb(43, 43, 43);

		.tarea-texto>div {
			color: rgb(6, 215, 104);
		}

		.completar-tarea-onclick {
			color: rgb(6, 215, 104);
		}

		.vibrate:hover {
			animation: vibration .8s infinite;
		}
	}

	/* tarea completada dark */
	.tarea-contenedor.completada {
		background-color: transparent;
		border: 1px dashed rgb(55, 55, 55);
		color: rgb(94, 94, 94);

		.tarea-texto>div {
			color: rgb(94, 94, 94);
		}

		.tarea-icono-grande:hover {
			color: rgb(88, 54, 54);
		}

		.tarea-icono-chico:hover {
			color: rgb(44, 61, 74);
		}

		.vibrate:hover {
			animation: none;
		}
	}

	.completar-tarea-onclick-completada:hover {
		color: rgba(6, 215, 104, 0.245);
	}

}


h1 {
	font-size: 30px;
	text-align: center;
	margin: 0 0 5px 0;
	font-weight: 400;
}

.aplicacion-tareas {
	margin: 0 auto;
	padding-top: 10px;
	width: 100%;
	min-width: 320px;
	max-width: 700px;
	height: 97dvh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Lista de tareas */
.tareas-lista-principal {
	width: 100%;
	height: 90dvh;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@keyframes vibration {
	0% {
		transform: translateX(0);
	}

	20% {
		transform: translateX(-2px) rotate(-1deg);
	}

	40% {
		transform: translateX(2px) rotate(1deg);
	}

	60% {
		transform: translateX(-2px) rotate(-1deg);
	}

	80% {
		transform: translateX(2px) rotate(1deg);
	}

	100% {
		transform: translateX(0);
	}
}

/* .vibrate:hover {
	animation: vibration .8s infinite;
} */